/*
 * Copyright 2025 Hypergiant Galactic Systems Inc. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@reference '../../index.css';

@layer components.l1 {
  .field {
    @apply flex flex-col gap-xs;
  }

  .input {
    @apply fg-primary-bold block w-full rounded-medium p-s font-display outline outline-interactive;

    @variant placeholder-shown {
      @apply fg-primary-muted;
    }

    @variant group-size-medium/text-area-field {
      @apply text-body-s;
    }

    @variant group-size-small/text-area-field {
      @apply text-body-xs;
    }

    @variant hover {
      @apply outline-interactive-hover;
    }

    @variant focus-visible {
      @apply outline-accent-primary-bold;
    }

    @variant pressed {
      @apply outline-accent-primary-pressed;
    }

    @variant group-invalid/text-area-field {
      @apply outline-serious-bold;
    }

    @variant disabled {
      @apply fg-disabled outline-interactive-disabled;
    }
  }

  .description {
    @apply fg-primary-muted text-body-xs;

    @variant group-disabled/text-area-field {
      @apply fg-disabled;
    }
  }

  .error {
    @apply fg-serious-bold text-body-xs;
  }
}
