/*
 * Copyright 2026 Hypergiant Galactic Systems Inc. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@reference '@accelint/design-foundation/styles';

@layer components.l1 {
  .popover {
    --offset: var(--spacing-xs);
    --offset-neg: calc(var(--spacing-xs) * -1);

    @apply rounded-medium bg-surface-raised p-s outline-static outline;
    max-width: 280px;
    transition:
      transform var(--animation-duration-normal),
      opacity var(--animation-duration-normal);

    @variant motion-safe {
      @variant placement-top {
        --origin: translateY(var(--offset));
      }

      @variant placement-bottom {
        --origin: translateY(var(--offset-neg));
      }

      @variant placement-left {
        --origin: translateX(var(--offset));
      }

      @variant placement-right {
        --origin: translateX(var(--offset-neg));
      }

      @variant entering {
        transform: var(--origin);
        opacity: 0;
      }

      @variant exiting {
        transform: var(--origin);
        opacity: 0;
      }
    }
  }

  .title {
    @apply fg-primary-bold mb-s text-header-m;
  }

  .content {
    @apply fg-primary-muted text-body-s;
  }

  .footer {
    @apply mt-s gap-s flex justify-end;
  }

  .dialog {
    @variant focus-visible {
      @apply outline-none;
    }
  }
}
