/*
 * Copyright 2025 Hypergiant Galactic Systems Inc. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* Markdown table striped row styling for light mode */
/* Only target tables in markdown content, exclude tables in story previews */
.light .sbdocs-content table:not(.docs-story table, #storybook-root table) tbody tr:nth-of-type(odd) {
  background-color: rgb(0 0 0 / 0.04);
}

.light .sbdocs-content table:not(.docs-story table, #storybook-root table) tbody tr:nth-of-type(even) {
  background-color: transparent;
}

/* Markdown table striped row styling for dark mode */
/* Only target tables in markdown content, exclude tables in story previews */
.dark .sbdocs-content table:not(.docs-story table, #storybook-root table) tbody tr:nth-of-type(odd) {
  background-color: rgb(255 255 255 / 0.04);
}

.dark .sbdocs-content table:not(.docs-story table, #storybook-root table) tbody tr:nth-of-type(even) {
  background-color: transparent;
}
