/*
 * Copyright 2025 Hypergiant Galactic Systems Inc. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* this @layer declaration needs to be before the stylesheet imports */
@layer properties, theme, base, old_ds_reset, old_ds_framework, old_ds_overrides, components, components.l1, components.l2, components.l3, components.l4, components.l5, utilities;

@import '@accelint/design-foundation/styles';
@source '../../node_modules/@accelint/design-foundation';
@import '@accelint/design-toolkit/styles';
@source '../../node_modules/@accelint/design-toolkit';

@layer theme {
  :root {
    --fiona-orange-bold: #ff6b1a;
    --fiona-orange-hover: #9e4820;
    --fiona-orange-pressed: #7a361a;
    --fiona-orange-muted: #b35123;

    --shrek-green-bold: #c4d300;
    --shrek-green-hover: #d1e000;
    --shrek-green-pressed: #8a9400;
    --shrek-green-muted: #4f5400;

    @variant light {
      --bg-accent-primary-bold: var(--fiona-orange-bold);
      --bg-accent-primary-hover: var(--fiona-orange-hover);
      --bg-accent-primary-pressed: var(--fiona-orange-pressed);
      --bg-accent-primary-muted: var(--fiona-orange-muted);
      --fg-accent-primary-bold: var(--fiona-orange-bold);
      --fg-accent-primary-hover: var(--fiona-orange-hover);
      --fg-accent-primary-pressed: var(--fiona-orange-pressed);
      --outline-accent-primary-bold: var(--fiona-orange-bold);
      --outline-accent-primary-hover: var(--fiona-orange-hover);
      --outline-accent-primary-pressed: var(--fiona-orange-pressed);
    }
    @variant dark {
      --bg-accent-primary-bold: var(--shrek-green-bold);
      --bg-accent-primary-hover: var(--shrek-green-hover);
      --bg-accent-primary-pressed: var(--shrek-green-pressed);
      --bg-accent-primary-muted: var(--shrek-green-muted);
      --fg-accent-primary-bold: var(--shrek-green-bold);
      --fg-accent-primary-hover: var(--shrek-green-hover);
      --fg-accent-primary-pressed: var(--shrek-green-pressed);
      --outline-accent-primary-bold: var(--shrek-green-bold);
      --outline-accent-primary-hover: var(--shrek-green-hover);
      --outline-accent-primary-pressed: var(--shrek-green-pressed);
    }
  }
}
