/*
 * Copyright 2025 Hypergiant Galactic Systems Inc. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@reference '@accelint/design-foundation/styles';

@layer components.l1 {
  .tooltip {
    @apply fg-primary-bold rounded-small bg-surface-overlay px-s py-xs text-body-xs shadow-elevation-overlay flex items-center justify-center text-center wrap-break-word;
    max-width: 160px;
    opacity: 0;
  }

  /* Keyframe animations for entrance */
  @keyframes tooltip-enter-top {
    from {
      opacity: 0;
      transform: translateY(var(--spacing-s));
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes tooltip-enter-bottom {
    from {
      opacity: 0;
      transform: translateY(calc(-1 * var(--spacing-s)));
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes tooltip-enter-left {
    from {
      opacity: 0;
      transform: translateX(var(--spacing-s));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes tooltip-enter-right {
    from {
      opacity: 0;
      transform: translateX(calc(-1 * var(--spacing-s)));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Keyframe animations for exit */
  @keyframes tooltip-exit-top {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(var(--spacing-s));
    }
  }

  @keyframes tooltip-exit-bottom {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(calc(-1 * var(--spacing-s)));
    }
  }

  @keyframes tooltip-exit-left {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(var(--spacing-s));
    }
  }

  @keyframes tooltip-exit-right {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(calc(-1 * var(--spacing-s)));
    }
  }

  .tooltip[data-placement^='top'][data-entering] {
    animation: tooltip-enter-top var(--animation-duration-fast)
      var(--animation-easing-standard) both;
  }

  .tooltip[data-placement^='bottom'][data-entering] {
    animation: tooltip-enter-bottom var(--animation-duration-fast)
      var(--animation-easing-standard) both;
  }

  .tooltip[data-placement^='left'][data-entering] {
    animation: tooltip-enter-left var(--animation-duration-fast)
      var(--animation-easing-standard) both;
  }

  .tooltip[data-placement^='right'][data-entering] {
    animation: tooltip-enter-right var(--animation-duration-fast)
      var(--animation-easing-standard) both;
  }

  .tooltip[data-placement]:not([data-entering]):not([data-exiting]) {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  .tooltip[data-placement^='top'][data-exiting] {
    animation: tooltip-exit-top var(--animation-duration-fast)
      var(--animation-easing-standard) both;
  }

  .tooltip[data-placement^='bottom'][data-exiting] {
    animation: tooltip-exit-bottom var(--animation-duration-fast)
      var(--animation-easing-standard) both;
  }

  .tooltip[data-placement^='left'][data-exiting] {
    animation: tooltip-exit-left var(--animation-duration-fast)
      var(--animation-easing-standard) both;
  }

  .tooltip[data-placement^='right'][data-exiting] {
    animation: tooltip-exit-right var(--animation-duration-fast)
      var(--animation-easing-standard) both;
  }

  /* Disable animations for users who prefer reduced motion */
  @media (prefers-reduced-motion: reduce) {
    .tooltip[data-entering],
    .tooltip[data-exiting] {
      animation: none;
    }

    .tooltip[data-placement]:not([data-entering]):not([data-exiting]) {
      opacity: 1;
    }
  }
}
