/*
 * Copyright 2025 Hypergiant Galactic Systems Inc. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@reference '../../index.module.css';

@layer components.l1 {
  .hero {
    @apply relative flex flex-col;

    @variant layout-grid {
      @apply pl-xxl;
    }

    @variant layout-stack {
      @apply rounded-large bg-interactive-disabled px-l py-xl;
    }
  }

  .title {
    @apply fg-primary-bold mb-xs font-display text-header-l -order-2;
  }

  .subtitle {
    @apply fg-primary-muted font-display text-body-s -order-1 block;
  }
}

@layer components.l2 {
  .icon {
    @apply fg-primary-muted -order-3;

    @variant group-layout-grid/hero {
      @apply top-xxs left-xs absolute;
    }

    @variant group-layout-stack/hero {
      @apply mb-l;
      width: 48px;
      height: 48px;
    }
  }
}
