name: CI
on:
  push:
    branches: ['main']
  pull_request:
    types: [opened, synchronize]
env:
  TURBO_TELEMETRY_DISABLED: 1
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true
jobs:
  checks:
    name: Install, Build, Lint, and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 2

      - uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - uses: pnpm/action-setup@v4
        with:
          run_install: false

      - uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          node-version-file: 'package.json'

      - run: pnpm install
      - run: pnpm run build
      - run: pnpm run lint
      - run: pnpm run lint:fs
      - run: pnpm run lint:deps
      - run: pnpm run test
